@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin:0;
}

.container{
   min-height: 100vh;
    background:url("bgsnakegame.png");
    
   display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
    
}


#board{
    height: 92vmin;
    width: 90vmin;
    background:linear-gradient(rgb(116, 230, 116),rgb(245, 245, 116));
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr) ;
    grid-template-rows:repeat(18,1fr) ;
}

.head{
    background-color:rgb(7, 36, 3) ;
    border: .25vmin dotted white;
    border-radius: 40%;
    

}

.food{
    background:linear-gradient( rgb(133, 60, 0), rgb(0, 0, 0));
    border: .25vmin solid white;
    
   
}

.snake{
    background: -webkit-linear-gradient(rgb(49, 255, 8), rgb(25, 131, 4));
    border: .25vmin dotted white;
    border-radius: 40%;
}

#scoreBox {
    position: absolute;
    top:9px;
    left: 9px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 174, 0);
    font-family: 'Acme', sans-serif;
}


#hiscoreBox {
    position: absolute;
    top:50px;
    left: 9px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 174, 0);
    font-family: 'Acme', sans-serif;
}



button {
    position: absolute;
    top: 120px;
    left: 9px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Acme', sans-serif;
    padding: .7em;
    border: 3px solid black;
    border-radius: 25px;
    cursor: pointer;
}



@media (max-width:1100px){
    .container{
        padding: 200px 0px 20px 0px;
    }

 
}

@media (max-width:540px){
    .container{
        padding: 100px 0px 0px 0px;
    }

 
}

